@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@400,700;1,700&display=swap");

:root {
    --bs-body-bg: hsl(216, 12%, 8%);
    --bs-font-sans-serif: Overpass;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-color: hsl(217, 12%, 63%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
@media screen and (min-width: 375px) {
    * {
        box-sizing: border-box;
    }
    body {
        font-family: var(--bs-body-font-family);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        text-align: left;
        background-color: var(--bs-body-bg);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
    }

    div.question {
        width: 30vw;
        height: auto;
        border-radius: 15px;
        background: linear-gradient(
            45deg,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(218, 5%, 29%, 1) 100%
        );
        display: block;
        align-items: center;
        color: var(--bs-body-color);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 70px);
        gap: 8px;
        h1 {
            text-align: start;
            color: hsl(0, 0%, 100%);
            margin: 0;
            padding-left: 8px;
        }
        p {
            text-align: start;
            padding-left: 8px;
        }
    }
    .circular {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: hsl(213, 19%, 18%);

        img {
            justify-content: center;
            width: 15px;
            height: 15px;
            object-fit: cover;
            margin: auto;
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }
    .circular-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: hsl(213, 19%, 18%);
        color: hsl(217, 12%, 63%);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button.circular-button:hover {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: hsl(25, 97%, 53%);
        color: hsl(216, 12%, 8%);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selected {
        background-color: hsl(0, 0%, 100%);
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border-radius: 50%;

        button[type="submit"] {
            width: 100%;
            height: 90%;
            border-radius: 10%;
            background-color: hsl(25, 97%, 53%);
            color: hsl(213, 19%, 18%);
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    div.result {
        visibility: hidden;
    }
}
@media screen and (min-width: 1600px) {
    div.result {
        visibility: hidden;
    } /* Styles here */
}
